<h2>Ajouter une video</h2>

<div>
  <form (ngSubmit)="onSubmit()">

    <!-- Titre -->
    <div class="form-group">
      <label for="title">Titre:</label>
      <input type="text" class="form-control" placeholder="Entrer un titre" id="title" required [(ngModel)]="video.title"
        name="title">
    </div>

    <!-- Genre -->
    <div class="form-group">
      <label for="genre">Genre:</label>
      <input type="text" class="form-control" placeholder="Entrer un genre" id="genre" required [(ngModel)]="video.genre"
        name="genre">
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" placeholder="Entrer une description" id="description"
        [(ngModel)]="video.description" name="description">
    </div>

    <!-- Annee -->
    <div class="form-group">
      <label for="year">Annee:</label>
      <input type="number" class="form-control" placeholder="Entrer une annee" id="year" [(ngModel)]="video.year" name="year">
    </div>

    <button type="submit" class="btn btn-success">Sauvegarder</button>

  </form>
</div>
<app-message></app-message>
